<header>
  <nav class="navbar navbar-default main-nav">
    <div class="container-fluid">
      <div class="navbar-header campaign">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false" aria-controls="main_navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <i class="fa fa-plus"></i> campaign
        </a>
      </div>
      <div id="main_navbar" class="navbar-collapse collapse main-navbar" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">year</a>
          </li>
          <li>
            <a href="#">quarter</a>
          </li>
          <li>
            <a href="#">month</a>
          </li>
          <li>
            <a href="#">week</a>
          </li>
          <li class="active">
            <a href="#">day</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default main-nav date-indicator">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand today" href="#" ng-click="getTodayTasks()">
          <span>today</span>
        </a>
      </div>
      <div id="navbar" class="main-navbar" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
          <li>
            <a href="#">{{ selectedDate }}</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right filter-gear">
          <li>
            <a href="#">
              <i class="fa fa-filter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="clearfix">
  <div class="col-xs-12 calendar-section">
    <div class="custom-calendar-wrap calendar-picker">
      <div id="custom-inner" class="custom-inner">
        <div class="custom-header clearfix">
          <h2>{{ selectedMonth }}</h2>
        </div>
        <div class="fc-calendar-container" calendario-directive selected-month="selectedMonth" selected-date="selectedDate" get-tasks-by-date="getTasksByDate(date)"></div>
      </div>
    </div>
    <div class="clearfix task-list">
      <h4 class="text-uppercase">today task</h4>
      <ul class="list-unstyled">
        <a class="media task clearfix" ng-repeat="user in tasksByDate.users">
          <div class="media-left">
            <img class="media-object img-responsive" ng-src="{{ ::user.avatar }}" alt="{{ ::user.fullname }}">
          </div>
          <div class="media-body">
            <div> {{ ::user.fullname }}</div>
            <div class="task-status">
              <b>{{ ::user.task_completed }}</b>
            </div>
            <div>{{ ::user.comment }}</div>
          </div>
        </a>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 posts">
    <div class="post" ng-repeat="post in tasksByDate.posts">
      <div class="timeline">
      </div>
      <div class="start-time">{{ ::post.starting_time_short }}</div>
      <div class="post-content-wrapper">
        <div class="pull-left post-content" ng-repeat="post_item in post.post_items">
          <div class="post-title clearfix">
            <div class="pull-left">
              <div>
                <b>{{ ::post_item.title }}</b>
              </div>
              <div>{{ ::post_item.status }}</div>
            </div>
            <div class="pull-right">
              <div>
                <b>{{ ::post.starting_time }}</b>
              </div>
              <div class="post-source">
                <i class="fa {{ post_item.source === 'twitter' ? 'fa-twitter': 'fa-instagram' }}"></i>
              </div>
            </div>
          </div>
          <div>
            <img class="img-responsive" ng-src="{{ ::post_item.image }}" alt="{{ ::task.user.fullname }} post">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 posts-detail">
    <h4>Post Details</h4>
    <ul class="outline-detail list-unstyled">
      <li>
        <div class="outline-title live-title text-uppercase">live</div>
        <div>{{ tasksByDate.info.live }}</div>
      </li>
      <li>
        <div class="outline-title text-uppercase">copy</div>
        <div>{{ tasksByDate.info.copy }}
          <a class="outline-hashtag" target="_blank">{{ tasksByDate.info.hashtag }}</a>
        </div>
      </li>
      <li>
        <div class="outline-title text-uppercase">link</div>
        <div>
          <a href="#">{{ tasksByDate.info.link }}</a>
        </div>
      </li>
      <li>
        <div class="outline-title text-uppercase">topic</div>
        <div>
          <i class="fa fa-circle" aria-hidden="true"></i> {{ tasksByDate.info.topic }}
        </div>
      </li>
    </ul>
    <ul class="outline-detail list-unstyled">
      <li>
        <div class="outline-title image-title">Image</div>
      </li>
      <li>
        <div class="outline-title">File name</div>
        <div>{{ tasksByDate.info.filename }}</div>
      </li>
      <li>
        <div class="outline-title">Created by</div>
        <div>{{ tasksByDate.info.created_by }}</div>
      </li>
      <li>
        <div class="outline-title">Total Usage</div>
        <div>{{ tasksByDate.info.total_usage }}</div>
      </li>
    </ul>
    <div class="outline-detail">
      <div class="text-uppercase outline-title">status - <span class="live-title">{{ tasksByDate.info.status }}</span></div>
    </div>
    <div class="outline-detail">
      <button href="#" class="text-uppercase edit-post">edit post</button>
    </div>
  </div>
</div>
