@media only screen and (min-width: 320px) {
  .calendar-section {
    width: 20%;
    border-right: 1px solid $border;
  }
  .calendar-picker {
    .fc-calendar-container {
      height: 200px;
      padding: 0;
    }
    .fc-calendar {
      .fc-head {
        display: none;
      }
      .fc-body {
        border-width: 0;
        height: 100%;
      }
      .fc-row {
        border-bottom-width: 0;
        > div {
          border-right-width: 0;
          &.fc-today {
            background-color: $white;
            @include box-shadow(none);
            .fc-date {
              color: $black;
              font-weight: bold;
            }
          }
          &.selected {
            background-color: $border;
          }
          > span {
            &.fc-date {
              color: #777;
              font-size: 15px;
            }
            &.fc-emptydate {
              display: none;
            }
          }
        }
      }
    }
    .custom-header {
      border-top-width: 0;
      border-bottom-width: 0;
      padding: 0;
      height: auto;
      h2 {
        text-transform: none;
        text-align: left;
        color: #777;
      }
    }
    .custom-calendar-wrap {
      margin: 0;
    }
  }
  .task-list {
    margin-left: -15px;
    h4 {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .task {
    padding: 7px;
    display: block;
    color: #333;
    margin-top: 0;
    &:hover {
      color: #333;
      background: $border;
    }
    &.active {
      background: $border;
    }
    .media-left {
      width: 20%;
      img {
        @include border-radius(50%);
      }
    }
  }
  .task-status {
    text-transform: uppercase;
    color: #92c86e;
  }
  .posts {
    width: 45%;
    padding: 20px;
  }
  .post {
    display: table;
    width: 100%;
    position: relative;
    &:nth-of-type(2n+1) .post-content {
      border-top-color: #9cc2cf;
    }
    &:nth-of-type(2n) .post-content {
      border-top-color: #b5d89e;
    }
    + .post {
      margin-top: 30px;
    }
    > div {
      display: table-cell;
    }
  }
  .timeline {
    width: 7%;
    border-left: 1px solid $border;
  }
  .start-time {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #fff;
    z-index: 9999;
    height: 30px;
    font-size: 12px;
  }
  .post-content {
    border-style: solid;
    border-color: $border;
    border-width: 3px 1px 1px 1px;
    /* one item */
    &:nth-child(1):nth-last-child(1) {
      width: 100%;
    }
    /* two items */
    &:nth-child(1):nth-last-child(2),
    &:nth-child(2):nth-last-child(1) {
      width: 50%;
    }
    /* three items */
    &:nth-child(1):nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):nth-last-child(1) {
      width: 33.3333%;
    }
    /* four items */
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      width: 25%;
    }
    .img-responsive {
      margin: 0 auto;
    }
  }
  .post-title {
    padding: 5px 15px;
  }
  .post-source {
    text-align: right;
    font-size: 18px;
    .fa {
      color: #3B94D9;
    }
  }
  .posts-detail {
    width: 35%;
    padding: 10px 20px;
    border-left: 1px solid $border;
    h4 {
      font-weight: normal;
    }
  }
  .outline-detail {
    padding: 15px 0;
    li + li {
      padding-top: 10px;
    }
    .fa.fa-circle {
      font-size: 10px;
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
  }
  .outline-title {
    font-weight: bold;
    font-size: 16px;
  }
  .live-title {
    color: #b5d89e;
  }
  .image-title {
    color: #f26a2a;
  }
  .outline-hashtag {
    color: #337ab7;
  }
  .edit-post {
    border: 2px solid $border;
    padding: 5px 10px;
    font-weight: bold;
    background-color: $white;
  }
}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
